*,
::after,
::before {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

body::before {
	display: block;
	content: "";
	height: 200px;
}

.btn-excel {
	background-color: #0072bb;
	color: white !important;
}

.btn-excel:hover {
	background-color: #f29f12 !important;
}

/* Table */

tbody td,
th {
	text-align: center;
	color: white;
}

tbody td {
	color: black;
}

.thead-color {
	background-color: #0072bb;
}

.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: #f29f12;
}
