*,
::after,
::before {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

body::before {
	display: block;
	content: "";
	height: 120px;
}

nav li {
	padding-right: 1rem;
}

/* Table */

tbody td,
th {
	text-align: center;
}
